extend layout

block header
  h1 #{title}

block content
  ul.thumbnails
    - var i = 0;
    - for(; i < images.length; i++)
      li.span3
        .thumbnail
          - var alttext = 'Alt text for image ' + images[i];
          a.thumbnail(href=images[i])
            img.img-rounded(src=images[i], alt=alttext)
          h4= dates[i]
          p= descriptions[i]
